@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@300;400;500&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #57bee0;
    /* background: rgba(255, 255, 255, 0.8); */
    border-radius: 25px;
}

img {
    max-width: 100%;
}

button {
    outline: none;
}

[class*='contenedor'] {
    max-width: 110rem;
    margin: 0 auto;
    width: 95%;
}

.card {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 10px;
    /* box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px; */
}

.imagen img {
    border-top-left-radius: 20px;
}

.degradado {
    background: linear-gradient(to right, #57bee0 10%, #00ffe1 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@layer components {
    .heading {
        /* background: linear-gradient(to right, #2193b0 35%, #00ffe1 60%); */
        background: linear-gradient(to right, #57bee0 45%, #00ffe1 55%);

        /* background-clip: text; */
        -webkit-text-fill-color: transparent;
        @apply text-center pb-24 pt-16 text-6xl font-bold font-inter bg-clip-text
    }
}