@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

[class*='contenedor'] {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
