@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@300;400;500&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
    /* background: #6dd5ed; */
}

body::-webkit-scrollbar-thumb {
    background: #57bee0; 
    /* background: rgba(255, 255, 255, 0.8); */
    border-radius: 25px;
}

img {
    max-width: 100%;
}

button {
    outline: none;
}

[class*='contenedor'] {
    max-width: 110rem;
    margin: 0 auto;
    width: 95%;
}