.animacion {
    animation-name: mostrarMenu;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease;
    display: block;
}

@media (min-width: 768px) {
    .animacion {
        display: none;
    }
}

@keyframes mostrarMenu {

    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.mostrarBarra {
    transform: translateY(0%);
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: mostrarBarra;
    position: fixed;
}

@keyframes mostrarBarra {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}